body{
	
	
	background-color: beige;
}
.jumbotron{
	background-color: beige;
}
#button1{
	background-color: green;
}
#swimlanes{
	display: flex;
	flex-wrap: nowrap;
	overflow: scroll;
}
.swimlane {
	border: 1px solid black;
	width: 200px;
	height: 100vh; background-color: lightblue;
	overflow: scroll; 
	margin-left: 50px; 
	margin-top: 20px;
	padding-left: 10px;
}
.icons{
	margin: 15px;
}